<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
               "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="utf-8" xml:lang="utf-8">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="stylesheet.css" media="all" />
<style type="text/css">
  p img {
    margin-top: 0px;
    margin-left: 30px;
    margin-right: 0px;
  }
</style>
<script type="text/javascript" src="http://apis.google.com/js/plusone.js">
  {lang: 'ja'}
</script>
<script type="text/javascript" src="http://www.google-analytics.com/ga.js"></script>
<script type="text/javascript" src="/analytics.js"></script>
<title><%= title %></title>
</head><body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=259237147426866";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div align="right">
  <a href="/">HOME</a>
</div>

<div align="right">
  <!-- Twitter -->
  <a href="https://twitter.com/share" class="twitter-share-button" data-via="nari3" data-lang="ja">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  <!-- Google+ -->
  <g:plusone size="medium"></g:plusone>

  <!-- Facebook -->
  <div class="fb-like" data-href="http://www.narihiro.info/g1gc-impl-book/" data-send="true" data-width="450" data-show-faces="true"></div>

</div>

<%= body %>

<hr/>
<p>(C) 2011 Narihiro Nakamura</p>
</body></html>
