<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
               "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="utf-8" xml:lang="utf-8">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="stylesheet.css" media="all" />
<script type="text/javascript" src="http://www.google-analytics.com/ga.js"></script>
<script type="text/javascript" src="/analytics.js"></script>
<title><%= title %></title>
</head><body>
<%= body %>
<hr/>
<p>御意見・御感想・誤殖の指摘などは<a href="https://github.com/authorNari/g1gc-impl-book/">authorNari/g1gc-impl-book - GitHub</a>までお願いします。</p>
<p><a href="http://www.narihiro.info/g1gc-impl-book/">Webサイトのトップページ</a></p>
<p>(C) 2011 Narihiro Nakamura</p>
</body></html>
